@using WorldDataApp.Models;
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>USA</title>
  </head>
  <body>
    <div class="container">
      <h1>Countries of the world:</h1>
      <h4><a href="/cities">Check out Cities  |</a><a href="/">  Order Alphabetically</a></h4>
      @foreach (Country country in Country.SortByAmerica())
      {
        <h4>@country.GetName() (@country.GetCode())</h4>
        <p>Population: @country.GetPopulation()</p>
      }
    </div>
  </body>
</html>
